<!DOCTYPE html>
<html>
<head>
    <title>Tu mensaje de test</title>
</head>
<body>
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
    <h1>{{ subject }}</h1>
    <p>{{ message }}</p>
    <p>{{ additional_text }}</p>
</body>
</html>
